@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

@layer components {
  .header-link {
    @apply flex items-center space-x-2 cursor-pointer;
  }

  .span {
    @apply relative text-sm font-medium before:bg-gray-300 before:rounded-bl before:-bottom-1.5 before:h-0.5 before:inset-x-0 before:absolute before:transform before:origin-left before:scale-x-0 before:transition-all before:duration-200 group-hover:before:scale-x-100;
  }
}

html {
  font-size: 13px;
  min-width: 320px;
  scroll-behavior: smooth;
}
