@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  body {
    @apply max-h-screen bg-white font-sans text-neutral-900 dark:bg-neutral-900 dark:text-neutral-200;
  }
}

@layer components {
  .span {
    @apply relative text-sm font-medium before:absolute before:inset-x-0 before:-bottom-1.5 before:h-0.5 before:origin-left before:scale-x-0 before:transform before:rounded-bl before:bg-neutral-300 before:transition-all before:duration-200 group-hover:before:scale-x-100;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-size: 13px;
  min-width: 320px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

::selection {
  text-shadow: none;
  background: rgba(255, 200, 0, 1);
  color: black;
}

#root {
  isolation: isolate;
}
